In [118]:
import pandas as pd
import numpy as np

from datetime import datetime
import time
import re

import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver import ActionChains
from selenium.webdriver import remote

from bs4 import BeautifulSoup

import requests

The following function, `select_course()`, isn't necessary unless we want to scrape tons and tons of classes. It allows us to find the 'course-id' for any given course, but does so in a rather inneficient manner by using Selenium to manually select the course we want.

In [96]:
# def find_course_id_SELENIUM(course):
#     driver = webdriver.Chrome()
#     driver.get("https://berkeleytime.com/enrollment/")
    
#     time.sleep(2)
    
#     course_selector = driver.find_element(By.ID, "react-select-2-placeholder")
#     ActionChains(driver) \
#         .click(course_selector) \
#         .send_keys(course) \
#         .perform()
#     course_dropdown = driver.find_element(By.CLASS_NAME, "css-1nmdiq5-menu")
#     first_option = course_dropdown.find_element(By.CLASS_NAME, "css-10wo9uf-option")
#     ActionChains(driver) \
#         .click(first_option) \
#         .perform()
#     time.sleep(3)
#     course_bt_id = int(driver.find_element(By.CLASS_NAME, "col-lg-4").find_elements(By.TAG_NAME, 'input')[-1].get_attribute("value"))
#     return course_bt_id

In [228]:
course_id_data = requests.get("https://berkeleytime.com/api/enrollment/enrollment_json/").json()['courses']
# course_id_data['course'] = course_id_data['abbreviation'] + " " + str(course_id_data['course_number'])
course_id_data

[{'id': 1, 'abbreviation': 'A,RESEC', 'course_number': '201'},
 {'id': 2, 'abbreviation': 'A,RESEC', 'course_number': '202'},
 {'id': 3, 'abbreviation': 'A,RESEC', 'course_number': '210'},
 {'id': 4, 'abbreviation': 'A,RESEC', 'course_number': '211'},
 {'id': 5, 'abbreviation': 'A,RESEC', 'course_number': '212'},
 {'id': 6, 'abbreviation': 'A,RESEC', 'course_number': '213'},
 {'id': 8, 'abbreviation': 'A,RESEC', 'course_number': '219A'},
 {'id': 9, 'abbreviation': 'A,RESEC', 'course_number': '219B'},
 {'id': 13451, 'abbreviation': 'A,RESEC', 'course_number': '239'},
 {'id': 11, 'abbreviation': 'A,RESEC', 'course_number': '241'},
 {'id': 12, 'abbreviation': 'A,RESEC', 'course_number': '242'},
 {'id': 13, 'abbreviation': 'A,RESEC', 'course_number': '249'},
 {'id': 14, 'abbreviation': 'A,RESEC', 'course_number': 'C251'},
 {'id': 15, 'abbreviation': 'A,RESEC', 'course_number': 'C253'},
 {'id': 16, 'abbreviation': 'A,RESEC', 'course_number': '259'},
 {'id': 17, 'abbreviation': 'A,RESEC', 'course_number': '261'},
 {'id': 18, 'abbreviation': 'A,RESEC', 'course_number': '262'},
 {'id': 19, 'abbreviation': 'A,RESEC', 'course_number': '263'},
 {'id': 20, 'abbreviation': 'A,RESEC', 'course_number': '264'},
 {'id': 21, 'abbreviation': 'A,RESEC', 'course_number': '269'},
 {'id': 22, 'abbreviation': 'A,RESEC', 'course_number': '298'},
 {'id': 7292, 'abbreviation': 'A,RESEC', 'course_number': '299'},
 {'id': 13453, 'abbreviation': 'A,RESEC', 'course_number': 'N299'},
 {'id': 23, 'abbreviation': 'A,RESEC', 'course_number': '375'},
 {'id': 24, 'abbreviation': 'A,RESEC', 'course_number': '400'},
 {'id': 14392, 'abbreviation': 'A,RESEC', 'course_number': 'N601'},
 {'id': 25, 'abbreviation': 'A,RESEC', 'course_number': '602'},
 {'id': 14391, 'abbreviation': 'A,RESEC', 'course_number': 'N602'},
 {'id': 21735, 'abbreviation': 'AERO ENG', 'course_number': '1'},
 {'id': 21745, 'abbreviation': 'AERO ENG', 'course_number': '2'},
 {'id': 21743, 'abbreviation': 'AERO ENG', 'course_number': '10'},
 {'id': 21740, 'abbreviation': 'AERO ENG', 'course_number': '24'},
 {'id': 21738, 'abbreviation': 'AERO ENG', 'course_number': 'C162'},
 {'id': 22031, 'abbreviation': 'AERO ENG', 'course_number': 'C166'},
 {'id': 22017, 'abbreviation': 'AERO ENG', 'course_number': '193'},
 {'id': 21915, 'abbreviation': 'AERO ENG', 'course_number': '197'},
 {'id': 21749, 'abbreviation': 'AERO ENG', 'course_number': '198'},
 {'id': 55, 'abbreviation': 'AEROSPC', 'course_number': '1A'},
 {'id': 56, 'abbreviation': 'AEROSPC', 'course_number': '1B'},
 {'id': 57, 'abbreviation': 'AEROSPC', 'course_number': '2A'},
 {'id': 58, 'abbreviation': 'AEROSPC', 'course_number': '2B'},
 {'id': 59, 'abbreviation': 'AEROSPC', 'course_number': '100'},
 {'id': 60, 'abbreviation': 'AEROSPC', 'course_number': '135A'},
 {'id': 61, 'abbreviation': 'AEROSPC', 'course_number': '135B'},
 {'id': 62, 'abbreviation': 'AFRICAM', 'course_number': 'R1A'},
 {'id': 63, 'abbreviation': 'AFRICAM', 'course_number': 'R1B'},
 {'id': 64, 'abbreviation': 'AFRICAM', 'course_number': '4A'},
 {'id': 65, 'abbreviation': 'AFRICAM', 'course_number': '4B'},
 {'id': 66, 'abbreviation': 'AFRICAM', 'course_number': '5A'},
 {'id': 67, 'abbreviation': 'AFRICAM', 'course_number': '5B'},
 {'id': 68, 'abbreviation': 'AFRICAM', 'course_number': '7A'},
 {'id': 69, 'abbreviation': 'AFRICAM', 'course_number': '7B'},
 {'id': 70, 'abbreviation': 'AFRICAM', 'course_number': '8A'},
 {'id': 72, 'abbreviation': 'AFRICAM', 'course_number': '8B'},
 {'id': 78, 'abbreviation': 'AFRICAM', 'course_number': '10A'},
 {'id': 80, 'abbreviation': 'AFRICAM', 'course_number': '10B'},
 {'id': 82, 'abbreviation': 'AFRICAM', 'course_number': '11A'},
 {'id': 83, 'abbreviation': 'AFRICAM', 'course_number': '11B'},
 {'id': 93, 'abbreviation': 'AFRICAM', 'course_number': '15A'},
 {'id': 95, 'abbreviation': 'AFRICAM', 'course_number': '15B'},
 {'id': 15102, 'abbreviation': 'AFRICAM', 'course_number': '16A'},
 {'id': 16844, 'abbreviation': 'AFRICAM', 'course_number': '16B'},
 {'id': 17001, 'abbreviation': 'AFRICAM', 'course_number': '18A'},
 {'id': 16475, 'abbreviation': 'AFRICAM', 'course_number': '18B'},
 {'id': 20711, 'abbreviation': 'AFRICAM', 'course_number': 'C20AC'},
 {'id': 20412, 'abbreviation': 'AFRICAM', 'course_number': '21A'},
 {'id': 20616, 'abbreviation': 'AFRICAM', 'course_number': '21B'},
 {'id': 101, 'abbreviation': 'AFRICAM', 'course_number': '24'},
 {'id': 102, 'abbreviation': 'AFRICAM', 'course_number': '27AC'},
 {'id': 103, 'abbreviation': 'AFRICAM', 'course_number': '28AC'},
 {'id': 104, 'abbreviation': 'AFRICAM', 'course_number': '30A'},
 {'id': 106, 'abbreviation': 'AFRICAM', 'course_number': '30B'},
 {'id': 108, 'abbreviation': 'AFRICAM', 'course_number': '31A'},
 {'id': 110, 'abbreviation': 'AFRICAM', 'course_number': '31B'},
 {'id': 7280, 'abbreviation': 'AFRICAM', 'course_number': '39B'},
 {'id': 7281, 'abbreviation': 'AFRICAM', 'course_number': '39D'},
 {'id': 7282, 'abbreviation': 'AFRICAM', 'course_number': '39E'},
 {'id': 7284, 'abbreviation': 'AFRICAM', 'course_number': '39G'},
 {'id': 21705, 'abbreviation': 'AFRICAM', 'course_number': '40'},
 {'id': 114, 'abbreviation': 'AFRICAM', 'course_number': '98'},
 {'id': 7285, 'abbreviation': 'AFRICAM', 'course_number': '98BC'},
 {'id': 115, 'abbreviation': 'AFRICAM', 'course_number': '99'},
 {'id': 116, 'abbreviation': 'AFRICAM', 'course_number': '100'},
 {'id': 117, 'abbreviation': 'AFRICAM', 'course_number': '101'},
 {'id': 118, 'abbreviation': 'AFRICAM', 'course_number': '107'},
 {'id': 119, 'abbreviation': 'AFRICAM', 'course_number': '109'},
 {'id': 120, 'abbreviation': 'AFRICAM', 'course_number': '111'},
 {'id': 7286, 'abbreviation': 'AFRICAM', 'course_number': 'W111'},
 {'id': 121, 'abbreviation': 'AFRICAM', 'course_number': '112A'},
 {'id': 122, 'abbreviation': 'AFRICAM', 'course_number': '112B'},
 {'id': 21818, 'abbreviation': 'AFRICAM', 'course_number': '113AC'},
 {'id': 123, 'abbreviation': 'AFRICAM', 'course_number': '114'},
 {'id': 124, 'abbreviation': 'AFRICAM', 'course_number': '115'},
 {'id': 125, 'abbreviation': 'AFRICAM', 'course_number': '116'},
 {'id': 126, 'abbreviation': 'AFRICAM', 'course_number': '117'},
 {'id': 127, 'abbreviation': 'AFRICAM', 'course_number': '118'},
 {'id': 128, 'abbreviation': 'AFRICAM', 'course_number': '119'},
 {'id': 14710, 'abbreviation': 'AFRICAM', 'course_number': '120'},
 {'id': 129, 'abbreviation': 'AFRICAM', 'course_number': '121'},
 {'id': 130, 'abbreviation': 'AFRICAM', 'course_number': '122'},
 {'id': 131, 'abbreviation': 'AFRICAM', 'course_number': '123'},
 {'id': 132, 'abbreviation': 'AFRICAM', 'course_number': '125'},
 {'id': 11633, 'abbreviation': 'AFRICAM', 'course_number': '126'},
 {'id': 133, 'abbreviation': 'AFRICAM', 'course_number': '131'},
 {'id': 134, 'abbreviation': 'AFRICAM', 'course_number': 'C133A'},
 {'id': 135, 'abbreviation': 'AFRICAM', 'course_number': '134'},
 {'id': 136, 'abbreviation': 'AFRICAM', 'course_number': 'C134'},
 {'id': 14481, 'abbreviation': 'AFRICAM', 'course_number': '136'},
 {'id': 14831, 'abbreviation': 'AFRICAM', 'course_number': '136L'},
 {'id': 137, 'abbreviation': 'AFRICAM', 'course_number': '137'},
 {'id': 138, 'abbreviation': 'AFRICAM', 'course_number': '138'},
 {'id': 139, 'abbreviation': 'AFRICAM', 'course_number': '139'},
 {'id': 140, 'abbreviation': 'AFRICAM', 'course_number': '140'},
 {'id': 142, 'abbreviation': 'AFRICAM', 'course_number': '142AC'},
 {'id': 143, 'abbreviation': 'AFRICAM', 'course_number': 'C143A'},
 {'id': 144, 'abbreviation': 'AFRICAM', 'course_number': 'C143B'},
 {'id': 145, 'abbreviation': 'AFRICAM', 'course_number': 'C143C'},
 {'id': 146, 'abbreviation': 'AFRICAM', 'course_number': '144'},
 {'id': 147, 'abbreviation': 'AFRICAM', 'course_number': '150B'},
 {'id': 149, 'abbreviation': 'AFRICAM', 'course_number': '152F'},
 {'id': 150, 'abbreviation': 'AFRICAM', 'course_number': '153C'},
 {'id': 151, 'abbreviation': 'AFRICAM', 'course_number': '155'},
 {'id': 152, 'abbreviation': 'AFRICAM', 'course_number': '156AC'},
 {'id': 11696, 'abbreviation': 'AFRICAM', 'course_number': '157'},
 {'id': 153, 'abbreviation': 'AFRICAM', 'course_number': '158A'},
 {'id': 154, 'abbreviation': 'AFRICAM', 'course_number': '158B'},
 {'id': 155, 'abbreviation': 'AFRICAM', 'course_number': '159'},
 {'id': 14244, 'abbreviation': 'AFRICAM', 'course_number': '164'},
 {'id': 14243, 'abbreviation': 'AFRICAM', 'course_number': '165'},
 {'id': 156, 'abbreviation': 'AFRICAM', 'course_number': '173AC'},
 {'id': 157, 'abbreviation': 'AFRICAM', 'course_number': 'C178'},
 {'id': 20697, 'abbreviation': 'AFRICAM', 'course_number': '182AC'},
 {'id': 14455, 'abbreviation': 'AFRICAM', 'course_number': '194A'},
 {'id': 14460, 'abbreviation': 'AFRICAM', 'course_number': '194B'},
 {'id': 14473, 'abbreviation': 'AFRICAM', 'course_number': '195'},
 {'id': 14888, 'abbreviation': 'AFRICAM', 'course_number': 'H195'},
 {'id': 159, 'abbreviation': 'AFRICAM', 'course_number': 'H195A'},
 {'id': 160, 'abbreviation': 'AFRICAM', 'course_number': 'H195B'},
 {'id': 161, 'abbreviation': 'AFRICAM', 'course_number': '197'},
 {'id': 162, 'abbreviation': 'AFRICAM', 'course_number': '198'},
 {'id': 7290, 'abbreviation': 'AFRICAM', 'course_number': '198BC'},
 {'id': 163, 'abbreviation': 'AFRICAM', 'course_number': '199'},
 {'id': 164, 'abbreviation': 'AFRICAM', 'course_number': '201A'},
 {'id': 165, 'abbreviation': 'AFRICAM', 'course_number': '201B'},
 {'id': 166, 'abbreviation': 'AFRICAM', 'course_number': '201D'},
 {'id': 167, 'abbreviation': 'AFRICAM', 'course_number': '240'},
 {'id': 168, 'abbreviation': 'AFRICAM', 'course_number': '241'},
 {'id': 169, 'abbreviation': 'AFRICAM', 'course_number': '242'},
 {'id': 170, 'abbreviation': 'AFRICAM', 'course_number': '250'},
 {'id': 175, 'abbreviation': 'AFRICAM', 'course_number': 'C265'},
 {'id': 177, 'abbreviation': 'AFRICAM', 'course_number': '296'},
 {'id': 178, 'abbreviation': 'AFRICAM', 'course_number': '298'},
 {'id': 179, 'abbreviation': 'AFRICAM', 'course_number': '299'},
 {'id': 180, 'abbreviation': 'AFRICAM', 'course_number': 'C375'},
 {'id': 14552, 'abbreviation': 'AFRICAM', 'course_number': '601'},
 {'id': 181, 'abbreviation': 'AFRICAM', 'course_number': '602'},
 {'id': 182, 'abbreviation': 'AGR CHM', 'course_number': '299'},
 {'id': 21081, 'abbreviation': 'AGRS', 'course_number': '10A'},
 {'id': 21032, 'abbreviation': 'AGRS', 'course_number': '10B'},
 {'id': 21149, 'abbreviation': 'AGRS', 'course_number': '17A'},
 {'id': 20985, 'abbreviation': 'AGRS', 'course_number': '17B'},
 {'id': 21086, 'abbreviation': 'AGRS', 'course_number': '24'},
 {'id': 21002, 'abbreviation': 'AGRS', 'course_number': '28'},
 {'id': 21091, 'abbreviation': 'AGRS', 'course_number': '29'},
 {'id': 21156, 'abbreviation': 'AGRS', 'course_number': '34'},
 {'id': 21030, 'abbreviation': 'AGRS', 'course_number': '36'},
 {'id': 21100, 'abbreviation': 'AGRS', 'course_number': '39A'},
 {'id': 21136, 'abbreviation': 'AGRS', 'course_number': '39B'},
 {'id': 21051, 'abbreviation': 'AGRS', 'course_number': '39C'},
 {'id': 21155, 'abbreviation': 'AGRS', 'course_number': '39D'},
 {'id': 21112, 'abbreviation': 'AGRS', 'course_number': 'R44'},
 {'id': 21122, 'abbreviation': 'AGRS', 'course_number': '121'},
 {'id': 20980, 'abbreviation': 'AGRS', 'course_number': '124'},
 {'id': 20960, 'abbreviation': 'AGRS', 'course_number': '130'},
 {'id': 21012, 'abbreviation': 'AGRS', 'course_number': '130B'},
 {'id': 21004, 'abbreviation': 'AGRS', 'course_number': '130C'},
 {'id': 21135, 'abbreviation': 'AGRS', 'course_number': '130D'},
 {'id': 21025, 'abbreviation': 'AGRS', 'course_number': '130F'},
 {'id': 20972, 'abbreviation': 'AGRS', 'course_number': '130J'},
 {'id': 21117, 'abbreviation': 'AGRS', 'course_number': '130L'},
 {'id': 21073, 'abbreviation': 'AGRS', 'course_number': '130N'},
 {'id': 21024, 'abbreviation': 'AGRS', 'course_number': '130P'},
 {'id': 21544, 'abbreviation': 'AGRS', 'course_number': '130R'},
 {'id': 21674, 'abbreviation': 'AGRS', 'course_number': '130S'},
 {'id': 20994, 'abbreviation': 'AGRS', 'course_number': '161'},
 {'id': 21154, 'abbreviation': 'AGRS', 'course_number': '170A'},
 {'id': 21126, 'abbreviation': 'AGRS', 'course_number': '172'},
 {'id': 20989, 'abbreviation': 'AGRS', 'course_number': '175D'},
 {'id': 21023, 'abbreviation': 'AGRS', 'course_number': 'H195A'},
 {'id': 20987, 'abbreviation': 'AGRS', 'course_number': 'H195B'},
 {'id': 21050, 'abbreviation': 'AGRS', 'course_number': '198'},
 {'id': 21052, 'abbreviation': 'AGRS', 'course_number': '199'},
 {'id': 21233, 'abbreviation': 'AHMA', 'course_number': 'R1B'},
 {'id': 183, 'abbreviation': 'AHMA', 'course_number': '210'},
 {'id': 20898, 'abbreviation': 'AHMA', 'course_number': '298'},
 {'id': 184, 'abbreviation': 'AHMA', 'course_number': '299'},
 {'id': 20879, 'abbreviation': 'AHMA', 'course_number': '601'},
 {'id': 20859, 'abbreviation': 'AHMA', 'course_number': '602'},
 {'id': 185, 'abbreviation': 'AMERSTD', 'course_number': '10'},
 {'id': 187, 'abbreviation': 'AMERSTD', 'course_number': '10AC'},
 {'id': 186, 'abbreviation': 'AMERSTD', 'course_number': 'C10'},
 {'id': 188, 'abbreviation': 'AMERSTD', 'course_number': '24'},
 {'id': 190, 'abbreviation': 'AMERSTD', 'course_number': '98'},
 {'id': 191, 'abbreviation': 'AMERSTD', 'course_number': '99'},
 {'id': 192, 'abbreviation': 'AMERSTD', 'course_number': '101'},
 {'id': 193, 'abbreviation': 'AMERSTD', 'course_number': '101AC'},
 {'id': 194, 'abbreviation': 'AMERSTD', 'course_number': '102'},
 {'id': 10034, 'abbreviation': 'AMERSTD', 'course_number': '102AC'},
 {'id': 195, 'abbreviation': 'AMERSTD', 'course_number': '110'},
 {'id': 7293, 'abbreviation': 'AMERSTD', 'course_number': '110AC'},
 {'id': 196, 'abbreviation': 'AMERSTD', 'course_number': 'H110'},
 {'id': 198, 'abbreviation': 'AMERSTD', 'course_number': 'C111E'},
 {'id': 21449, 'abbreviation': 'AMERSTD', 'course_number': 'C112'},
 {'id': 199, 'abbreviation': 'AMERSTD', 'course_number': 'C112A'},
 {'id': 200, 'abbreviation': 'AMERSTD', 'course_number': 'C112B'},
 {'id': 202, 'abbreviation': 'AMERSTD', 'course_number': 'C132B'},
 {'id': 203, 'abbreviation': 'AMERSTD', 'course_number': 'C134'},
 {'id': 204, 'abbreviation': 'AMERSTD', 'course_number': '139AC'},
 {'id': 205, 'abbreviation': 'AMERSTD', 'course_number': 'C152'},
 {'id': 206, 'abbreviation': 'AMERSTD', 'course_number': 'C171'},
 {'id': 207, 'abbreviation': 'AMERSTD', 'course_number': 'C172'},
 {'id': 7340, 'abbreviation': 'AMERSTD', 'course_number': '184I'},
 {'id': 7359, 'abbreviation': 'AMERSTD', 'course_number': '188C'},
 {'id': 7362, 'abbreviation': 'AMERSTD', 'course_number': '188F'},
 {'id': 7363, 'abbreviation': 'AMERSTD', 'course_number': '188G'},
 {'id': 7364, 'abbreviation': 'AMERSTD', 'course_number': '188H'},
 {'id': 208, 'abbreviation': 'AMERSTD', 'course_number': '189'},
 {'id': 209, 'abbreviation': 'AMERSTD', 'course_number': '190'},
 {'id': 210, 'abbreviation': 'AMERSTD', 'course_number': '191'},
 {'id': 211, 'abbreviation': 'AMERSTD', 'course_number': 'H195'},
 {'id': 212, 'abbreviation': 'AMERSTD', 'course_number': '198'},
 {'id': 213, 'abbreviation': 'AMERSTD', 'course_number': '199'},
 {'id': 214, 'abbreviation': 'AMERSTD', 'course_number': '300'},
 {'id': 215, 'abbreviation': 'ANTHRO', 'course_number': '1'},
 {'id': 216, 'abbreviation': 'ANTHRO', 'course_number': '2'},
 {'id': 217, 'abbreviation': 'ANTHRO', 'course_number': '2AC'},
 {'id': 219, 'abbreviation': 'ANTHRO', 'course_number': '3AC'},
 {'id': 220, 'abbreviation': 'ANTHRO', 'course_number': 'R5B'},
 {'id': 221, 'abbreviation': 'ANTHRO', 'course_number': '24'},
 {'id': 222, 'abbreviation': 'ANTHRO', 'course_number': '39'},
 {'id': 223, 'abbreviation': 'ANTHRO', 'course_number': '84'},
 {'id': 224, 'abbreviation': 'ANTHRO', 'course_number': '98'},
 {'id': 225, 'abbreviation': 'ANTHRO', 'course_number': '99'},
 {'id': 226, 'abbreviation': 'ANTHRO', 'course_number': 'C100'},
 {'id': 227, 'abbreviation': 'ANTHRO', 'course_number': 'C103'},
 {'id': 228, 'abbreviation': 'ANTHRO', 'course_number': '105'},
 {'id': 229, 'abbreviation': 'ANTHRO', 'course_number': '106'},
 {'id': 230, 'abbreviation': 'ANTHRO', 'course_number': '107'},
 {'id': 7374, 'abbreviation': 'ANTHRO', 'course_number': '110'},
 {'id': 231, 'abbreviation': 'ANTHRO', 'course_number': '111'},
 {'id': 232, 'abbreviation': 'ANTHRO', 'course_number': '112'},
 {'id': 21571, 'abbreviation': 'ANTHRO', 'course_number': '113'},
 {'id': 233, 'abbreviation': 'ANTHRO', 'course_number': '114'},
 {'id': 234, 'abbreviation': 'ANTHRO', 'course_number': '115'},
 {'id': 235, 'abbreviation': 'ANTHRO', 'course_number': '119'},
 {'id': 237, 'abbreviation': 'ANTHRO', 'course_number': '121AC'},
 {'id': 238, 'abbreviation': 'ANTHRO', 'course_number': '121B'},
 {'id': 239, 'abbreviation': 'ANTHRO', 'course_number': '121C'},
 {'id': 241, 'abbreviation': 'ANTHRO', 'course_number': '122A'},
 {'id': 242, 'abbreviation': 'ANTHRO', 'course_number': '122C'},
 {'id': 7379, 'abbreviation': 'ANTHRO', 'course_number': '122D'},
 {'id': 243, 'abbreviation': 'ANTHRO', 'course_number': '122E'},
 {'id': 244, 'abbreviation': 'ANTHRO', 'course_number': '122F'},
 {'id': 246, 'abbreviation': 'ANTHRO', 'course_number': '123A'},
 {'id': 7381, 'abbreviation': 'ANTHRO', 'course_number': '123C'},
 {'id': 250, 'abbreviation': 'ANTHRO', 'course_number': '124A'},
 {'id': 7383, 'abbreviation': 'ANTHRO', 'course_number': '124B'},
 {'id': 252, 'abbreviation': 'ANTHRO', 'course_number': 'C124C'},
 {'id': 254, 'abbreviation': 'ANTHRO', 'course_number': 'C125A'},
 {'id': 13870, 'abbreviation': 'ANTHRO', 'course_number': '126M'},
 {'id': 257, 'abbreviation': 'ANTHRO', 'course_number': '127A'},
 {'id': 258, 'abbreviation': 'ANTHRO', 'course_number': '127B'},
 {'id': 15051, 'abbreviation': 'ANTHRO', 'course_number': '127C'},
 {'id': 259, 'abbreviation': 'ANTHRO', 'course_number': '128'},
 {'id': 260, 'abbreviation': 'ANTHRO', 'course_number': '128A'},
 {'id': 261, 'abbreviation': 'ANTHRO', 'course_number': '128M'},
 {'id': 262, 'abbreviation': 'ANTHRO', 'course_number': '129'},
 {'id': 263, 'abbreviation': 'ANTHRO', 'course_number': '129A'},
 {'id': 21562, 'abbreviation': 'ANTHRO', 'course_number': '129B'},
 {'id': 264, 'abbreviation': 'ANTHRO', 'course_number': '129C'},
 {'id': 13754, 'abbreviation': 'ANTHRO', 'course_number': '129D'},
 {'id': 265, 'abbreviation': 'ANTHRO', 'course_number': 'C129D'},
 {'id': 267, 'abbreviation': 'ANTHRO', 'course_number': 'C129F'},
 {'id': 7384, 'abbreviation': 'ANTHRO', 'course_number': '130'},
 {'id': 269, 'abbreviation': 'ANTHRO', 'course_number': '132A'},
 {'id': 270, 'abbreviation': 'ANTHRO', 'course_number': '134'},
 {'id': 271, 'abbreviation': 'ANTHRO', 'course_number': '134A'},
 {'id': 273, 'abbreviation': 'ANTHRO', 'course_number': '135'},
 {'id': 7385, 'abbreviation': 'ANTHRO', 'course_number': '135B'},
 {'id': 274, 'abbreviation': 'ANTHRO', 'course_number': '136'},
 {'id': 275, 'abbreviation': 'ANTHRO', 'course_number': '136A'},
 {'id': 7386, 'abbreviation': 'ANTHRO', 'course_number': '136B'},
 {'id': 13850, 'abbreviation': 'ANTHRO', 'course_number': '136D'},
 {'id': 13849, 'abbreviation': 'ANTHRO', 'course_number': '136F'},
 {'id': 7387, 'abbreviation': 'ANTHRO', 'course_number': '136G'},
 {'id': 279, 'abbreviation': 'ANTHRO', 'course_number': '136I'},
 {'id': 281, 'abbreviation': 'ANTHRO', 'course_number': 'C136K'},
 {'id': 282, 'abbreviation': 'ANTHRO', 'course_number': '137'},
 {'id': 283, 'abbreviation': 'ANTHRO', 'course_number': '138A'},
 {'id': 284, 'abbreviation': 'ANTHRO', 'course_number': '138B'},
 {'id': 286, 'abbreviation': 'ANTHRO', 'course_number': '140'},
 {'id': 287, 'abbreviation': 'ANTHRO', 'course_number': '141'},
 {'id': 18390, 'abbreviation': 'ANTHRO', 'course_number': '146'},
 {'id': 7390, 'abbreviation': 'ANTHRO', 'course_number': '147A'},
 {'id': 14260, 'abbreviation': 'ANTHRO', 'course_number': '147C'},
 {'id': 290, 'abbreviation': 'ANTHRO', 'course_number': 'C147B'},

Here's a much more efficient way once I found where they keep the course ids:

In [230]:
# ONLY USE ONCE (the following code downloads the data that maps courses to their ids)
# course_id_data = pd.DataFrame(requests.get("https://berkeleytime.com/api/enrollment/enrollment_json/").json()['courses'])
# course_id_data['course'] = course_id_data['abbreviation'] + " " + course_id_data['course_number']
# course_id_data.to_csv('course_ids.csv', index=False)

In [267]:
def find_course_id(course):
    ids = pd.read_csv('course_ids.csv')
    if any(ids['course'] == course.upper()):
        return ids[ids['course'] == course.upper()]['id'].to_list()[0]
    else:
        print('Error: No course ID found for: ' + course)

In [253]:
id_61a = find_course_id('COMPSCI 61A')
print(id_61a)

2321

In [269]:
print(find_course_id("data c88c")) # just making sure it's not case sensitive

21485

In [83]:
test_api_url = "https://berkeleytime.com/api/enrollment/sections/" + str(id_61a) + "/"

In [84]:
r = requests.get(test_api_url)
r.status_code

200

In [87]:
e = pd.DataFrame(r.json())
e

   semester  year                                           sections
0    spring  2025  [{'section_number': '001', 'section_id': 51902...
1      fall  2024  [{'section_number': '001', 'section_id': 49730...
2    spring  2024  [{'section_number': '001', 'section_id': 47595...
3      fall  2023  [{'section_number': '001', 'section_id': 45412...
4    spring  2023  [{'section_number': '001', 'section_id': 43287...
5      fall  2022  [{'section_number': '001', 'section_id': 41152...
6    spring  2022  [{'section_number': '001', 'section_id': 39017...
7      fall  2021  [{'section_number': '001', 'section_id': 37019...
8    spring  2021  [{'section_number': '001', 'section_id': 34159...
9      fall  2020  [{'section_number': '001', 'section_id': 31586...
10   spring  2020  [{'section_number': '001', 'section_id': 29890...
11     fall  2019  [{'section_number': '001', 'section_id': 28438...
12   spring  2019  [{'section_number': '001', 'section_id': 24418...
13     fall  2018  [{'section_number': '001', 'section_id': 22818...
14   spring  2018  [{'section_number': '001', 'section_id': 20172...
15     fall  2017  [{'section_number': '001', 'section_id': 19164...
16   spring  2017  [{'section_number': '001', 'section_id': 15380...
17     fall  2016  [{'section_number': '001', 'section_id': 11284...
18   spring  2016  [{'section_number': '001', 'section_id': 56692...
19     fall  2015  [{'section_number': '001', 'section_id': 46332...
20   spring  2015  [{'section_number': '001', 'section_id': 37469...
21     fall  2014  [{'section_number': '001', 'section_id': 27339...
22   spring  2014  [{'section_number': '001', 'section_id': 23467...
23     fall  2013  [{'section_number': '001', 'section_id': 8896,...

In [110]:
metadata = requests.get("https://berkeleytime.com/api/enrollment/aggregate/2321/spring/2024/").json()
metadata.pop('data')
# del metadata['data']
metadata

{'course_id': 2321,
 'section_id': 'all',
 'title': 'COMPSCI 61A',
 'subtitle': 'The Structure and Interpretation of Computer Programs',
 'section_name': 'All Sections',
 'telebears': {'phase1_start_date': '10/16/2023-00:00:00',
  'phase1_end_date': 21,
  'phase1_start_day': 1,
  'phase2_start_date': '11/14/2023-00:00:00',
  'phase2_end_date': 84,
  'phase2_start_day': 30,
  'adj_start_date': '01/08/2024-00:00:00',
  'adj_start_day': 85,
  'semester': 'Spring 2024'},
 'enrolled_max': 1000,
 'waitlisted_max': 500,
 'enrolled_percent_max': 1.1143,
 'waitlisted_percent_max': 1.1,
 'enrolled_scale_max': 1114,
 'waitlisted_scale_max': 550}

In [217]:
test_data = requests.get("https://berkeleytime.com/api/enrollment/aggregate/2321/spring/2024/").json()['data']

In [103]:
e = pd.DataFrame(test_data)
e['test'] = 'test'
e

,enrolled,waitlisted,day,date,enrolled_max,waitlisted_max,enrolled_percent,waitlisted_percent,test
0,0,0,-5,10/10/2023-00:00:00,527,500,0.000,0.0,test
1,0,0,-4,10/11/2023-00:00:00,527,500,0.000,0.0,test
2,0,0,-3,10/12/2023-00:00:00,527,500,0.000,0.0,test
3,0,0,-2,10/13/2023-00:00:00,527,500,0.000,0.0,test
4,0,0,-1,10/14/2023-00:00:00,527,500,0.000,0.0,test
...,...,...,...,...,...,...,...,...,...
139,873,0,143,03/06/2024-00:00:00,1000,500,0.873,0.0,test
140,873,0,144,03/07/2024-00:00:00,1000,500,0.873,0.0,test
141,873,0,145,03/08/2024-00:00:00,1000,500,0.873,0.0,test
142,873,0,146,03/09/2024-00:00:00,1000,500,0.873,0.0,test
143,873,0,171,04/03/2024-00:00:00,1000,500,0.873,0.0,test

In [276]:
def get_offering_data_fromURL(URL):
    """
    create & return dataframe with the enrollment + waitlist data for a specific offering
    (ie. the aggregated data for a specific course during a specific semester)

    URL is formatted like: https://berkeleytime.com/api/enrollment/aggregate/[course-id]/[season]/[year]/
    example" "https://berkeleytime.com/api/enrollment/aggregate/2321/spring/2024/"
    (Note: ending a request in this format automatically returns an aggregate version of the data including all offerings during any given semester.) 
    """
    raw = requests.get(URL)
    if raw.status_code > 300:
        print("Error: page not found")
        return None
    
    # Split the data into the metadata (about the course offering itself) and the timeseries data (with enrollment & waitlist counts)
    meta_data = raw.json()
    time_data = meta_data.pop('data')

    # Create a new dataframe based on the timeseries data
    df = pd.DataFrame(time_data)

    # Add new columns featuring the metadata so that if the returned dataframe were combined with other dataframes, rows would remain distinguishable
    df['course'] = meta_data['title']
    df['course_id'] = meta_data['course_id']
    df['semester'] = meta_data['telebears']['semester'].split(' ')[0]
    df['year'] = meta_data['telebears']['semester'].split(' ')[1]

    # Set variables for the start dates of each phase
    ph1_start = datetime.strptime(meta_data['telebears']['phase1_start_date'], '%m/%d/%Y-%H:%M:%S').date()
    ph2_start = datetime.strptime(meta_data['telebears']['phase2_start_date'], '%m/%d/%Y-%H:%M:%S').date()
    adj_start = datetime.strptime(meta_data['telebears']['adj_start_date'], '%m/%d/%Y-%H:%M:%S').date()

    # Adjust date formatting (add phases, fix days, etc.)
    for i in range(len(df)):
        df.loc[i, "day"] = df.loc[i, "day"] - 1 # For some reason the 'days' column doesn't match up with what is displayed on the BT website. This fixes it.
        df.loc[i, "date"] = datetime.strptime(df.loc[i, "date"], '%m/%d/%Y-%H:%M:%S').date()
        if (df.loc[i, "date"] >= adj_start):
            df.loc[i, "phase"] = 'Adjustment'
            df.loc[i, "days_after"] = int((df.loc[i, "date"] - adj_start).days)
        elif (df.loc[i, "date"] >= ph2_start):
            df.loc[i, "phase"] = 'Phase 2'
            df.loc[i, "days_after"] = int((df.loc[i, "date"] - ph2_start).days)
        else:
            df.loc[i, "phase"] = 'Phase 1'
            df.loc[i, "days_after"] = int((df.loc[i, "date"] - ph1_start).days)

    # removing negative days
    df = df.drop(df[df['day'] < 0].index)
    df = df.reset_index().drop('index', axis=1)


    # Finally, reorder the columns bc preference
    df = df[['course', 'course_id', 'semester', 'year', 'date', 'day', 'days_after', 'phase', 'enrolled', 'enrolled_max', 'enrolled_percent', 'waitlisted', 'waitlisted_max', 'waitlisted_percent']]
    return df

In [277]:
def get_offering_data(course, semester='spring', year=2025):
    course_id = str(find_course_id(course))
    semester = str(semester.lower())
    year = str(year)
    URL = "https://berkeleytime.com/api/enrollment/aggregate/" + course_id + "/" + semester + "/" + year + "/"
    return get_offering_data_fromURL(URL)

In [272]:
e = get_offering_data_fromURL("https://berkeleytime.com/api/enrollment/aggregate/2321/spring/2022/")

In [278]:
b = get_offering_data('DATA C88c', 'Spring', '2022')
b

Error: page not found

In [145]:
ph1_start = datetime.strptime(metadata['telebears']['phase1_start_date'], '%m/%d/%Y-%H:%M:%S').date()
ph2_start = datetime.strptime(metadata['telebears']['phase2_start_date'], '%m/%d/%Y-%H:%M:%S').date()
adj_start = datetime.strptime(metadata['telebears']['adj_start_date'], '%m/%d/%Y-%H:%M:%S').date()
ph1_start

datetime.date(2023, 10, 16)

In [135]:
df3.iloc[1].loc['Age'] = 3000

C:\Users\itsjh\AppData\Local\Temp\ipykernel_22604\2506425319.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df3.iloc[1].loc['Age'] = 3000
C:\Users\itsjh\AppData\Local\Temp\ipykernel_22604\2506425319.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.iloc[1].loc['Age'] = 3000

In [139]:
df3

    Name  Age
0   John   20
1   Mary  300
2  Peter   30

In [138]:
df3.loc[1, "Age"] = 300

In [127]:
datetime.strptime('10/10/2023-00:00:00', '%m/%d/%Y-%H:%M:%S').date()

datetime.date(2023, 10, 10)

In [128]:
print(datetime.strptime('10/10/2023-00:00:00', '%m/%d/%Y-%H:%M:%S').date())

2023-10-10

In [134]:
e['date'][0]

'10/10/2023-00:00:00'

In [279]:
find_course_id('integbi 35ac')

3912

As a final test, let me use the functions i created to get the data for INTEGBI 35AC, COMPSCI 70, MATH 53, and MATH 74 -- the classes i'm taking this semester

In [284]:
courses = ['integbi 35ac', 'compsci 70', 'math 53', 'math 74']
[display(get_offering_data(course, 'Spring', '2024')) for course in courses]

,course,course_id,semester,year,date,day,days_after,phase,enrolled,enrolled_max,enrolled_percent,waitlisted,waitlisted_max,waitlisted_percent
0,INTEGBI 35AC,3912,Spring,2024,2023-10-16,0,0.0,Phase 1,0,299,0.000,0,25,0.0
1,INTEGBI 35AC,3912,Spring,2024,2023-10-17,1,1.0,Phase 1,4,299,0.013,0,25,0.0
2,INTEGBI 35AC,3912,Spring,2024,2023-10-18,2,2.0,Phase 1,7,299,0.023,0,25,0.0
3,INTEGBI 35AC,3912,Spring,2024,2023-10-19,3,3.0,Phase 1,12,299,0.040,0,25,0.0
4,INTEGBI 35AC,3912,Spring,2024,2023-10-20,4,4.0,Phase 1,23,299,0.077,0,25,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,INTEGBI 35AC,3912,Spring,2024,2024-03-06,142,58.0,Adjustment,314,310,1.013,0,25,0.0
133,INTEGBI 35AC,3912,Spring,2024,2024-03-07,143,59.0,Adjustment,314,310,1.013,0,25,0.0
134,INTEGBI 35AC,3912,Spring,2024,2024-03-08,144,60.0,Adjustment,314,310,1.013,0,25,0.0
135,INTEGBI 35AC,3912,Spring,2024,2024-03-09,145,61.0,Adjustment,314,310,1.013,0,25,0.0
136,INTEGBI 35AC,3912,Spring,2024,2024-04-03,170,86.0,Adjustment,314,310,1.013,0,25,0.0

,course,course_id,semester,year,date,day,days_after,phase,enrolled,enrolled_max,enrolled_percent,waitlisted,waitlisted_max,waitlisted_percent
0,COMPSCI 70,2327,Spring,2024,2023-10-16,0,0.0,Phase 1,0,481,0.000,0,400,0.000
1,COMPSCI 70,2327,Spring,2024,2023-10-17,1,1.0,Phase 1,63,481,0.131,15,400,0.037
2,COMPSCI 70,2327,Spring,2024,2023-10-18,2,2.0,Phase 1,86,481,0.179,0,400,0.000
3,COMPSCI 70,2327,Spring,2024,2023-10-19,3,3.0,Phase 1,94,481,0.195,0,400,0.000
4,COMPSCI 70,2327,Spring,2024,2023-10-20,4,4.0,Phase 1,95,481,0.198,1,400,0.003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,COMPSCI 70,2327,Spring,2024,2024-03-06,142,58.0,Adjustment,726,735,0.988,0,400,0.000
134,COMPSCI 70,2327,Spring,2024,2024-03-07,143,59.0,Adjustment,726,735,0.988,0,400,0.000
135,COMPSCI 70,2327,Spring,2024,2024-03-08,144,60.0,Adjustment,726,735,0.988,0,400,0.000
136,COMPSCI 70,2327,Spring,2024,2024-03-09,145,61.0,Adjustment,726,735,0.988,0,400,0.000
137,COMPSCI 70,2327,Spring,2024,2024-04-03,170,86.0,Adjustment,726,735,0.988,0,400,0.000

,course,course_id,semester,year,date,day,days_after,phase,enrolled,enrolled_max,enrolled_percent,waitlisted,waitlisted_max,waitlisted_percent
0,MATH 53,4468,Spring,2024,2023-10-16,0,0.0,Phase 1,0,728,0.000,0,83,0.0
1,MATH 53,4468,Spring,2024,2023-10-17,1,1.0,Phase 1,45,728,0.062,0,83,0.0
2,MATH 53,4468,Spring,2024,2023-10-18,2,2.0,Phase 1,50,728,0.069,0,83,0.0
3,MATH 53,4468,Spring,2024,2023-10-19,3,3.0,Phase 1,53,728,0.073,0,83,0.0
4,MATH 53,4468,Spring,2024,2023-10-20,4,4.0,Phase 1,55,728,0.076,0,83,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,MATH 53,4468,Spring,2024,2024-03-06,142,58.0,Adjustment,750,780,0.962,0,103,0.0
134,MATH 53,4468,Spring,2024,2024-03-07,143,59.0,Adjustment,750,780,0.962,0,103,0.0
135,MATH 53,4468,Spring,2024,2024-03-08,144,60.0,Adjustment,750,780,0.962,0,103,0.0
136,MATH 53,4468,Spring,2024,2024-03-09,145,61.0,Adjustment,750,780,0.962,0,103,0.0
137,MATH 53,4468,Spring,2024,2024-04-03,170,86.0,Adjustment,749,780,0.960,0,103,0.0

,course,course_id,semester,year,date,day,days_after,phase,enrolled,enrolled_max,enrolled_percent,waitlisted,waitlisted_max,waitlisted_percent
0,MATH 74,4473,Spring,2024,2023-10-16,0,0.0,Phase 1,0,60,0.000,0,10,0.0
1,MATH 74,4473,Spring,2024,2023-10-17,1,1.0,Phase 1,2,60,0.033,0,10,0.0
2,MATH 74,4473,Spring,2024,2023-10-18,2,2.0,Phase 1,2,60,0.033,0,10,0.0
3,MATH 74,4473,Spring,2024,2023-10-19,3,3.0,Phase 1,2,60,0.033,0,10,0.0
4,MATH 74,4473,Spring,2024,2023-10-20,4,4.0,Phase 1,2,60,0.033,0,10,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,MATH 74,4473,Spring,2024,2024-03-06,142,58.0,Adjustment,47,60,0.783,0,10,0.0
133,MATH 74,4473,Spring,2024,2024-03-07,143,59.0,Adjustment,47,60,0.783,0,10,0.0
134,MATH 74,4473,Spring,2024,2024-03-08,144,60.0,Adjustment,47,60,0.783,0,10,0.0
135,MATH 74,4473,Spring,2024,2024-03-09,145,61.0,Adjustment,47,60,0.783,0,10,0.0
136,MATH 74,4473,Spring,2024,2024-04-03,170,86.0,Adjustment,47,60,0.783,0,10,0.0

[None, None, None, None]

In [287]:
efs = pd.concat([get_offering_data(course, 'Spring', '2024') for course in courses])
efs

,course,course_id,semester,year,date,day,days_after,phase,enrolled,enrolled_max,enrolled_percent,waitlisted,waitlisted_max,waitlisted_percent
0,INTEGBI 35AC,3912,Spring,2024,2023-10-16,0,0.0,Phase 1,0,299,0.000,0,25,0.0
1,INTEGBI 35AC,3912,Spring,2024,2023-10-17,1,1.0,Phase 1,4,299,0.013,0,25,0.0
2,INTEGBI 35AC,3912,Spring,2024,2023-10-18,2,2.0,Phase 1,7,299,0.023,0,25,0.0
3,INTEGBI 35AC,3912,Spring,2024,2023-10-19,3,3.0,Phase 1,12,299,0.040,0,25,0.0
4,INTEGBI 35AC,3912,Spring,2024,2023-10-20,4,4.0,Phase 1,23,299,0.077,0,25,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,MATH 74,4473,Spring,2024,2024-03-06,142,58.0,Adjustment,47,60,0.783,0,10,0.0
133,MATH 74,4473,Spring,2024,2024-03-07,143,59.0,Adjustment,47,60,0.783,0,10,0.0
134,MATH 74,4473,Spring,2024,2024-03-08,144,60.0,Adjustment,47,60,0.783,0,10,0.0
135,MATH 74,4473,Spring,2024,2024-03-09,145,61.0,Adjustment,47,60,0.783,0,10,0.0
136,MATH 74,4473,Spring,2024,2024-04-03,170,86.0,Adjustment,47,60,0.783,0,10,0.0